<f:layout name="Default" />
<f:section name="main">
    <div id="player_box">
        <input type="hidden" id="id_vimeo" value="{id}">

        <input type="hidden" id="video_play" value="{autoplay}">
        <input type="hidden" id="video_random" value="{random}">
        <input type="hidden" id="video_loop" value="{loop}">
        <input type="hidden" id="video_mute" value="{mute}">
        <input type="hidden" id="video_width" value="{width}">
        <input type="hidden" id="video_height" value="{height}">

        <div id="player_vimeo"></div>
    </div>
</f:section>